h1{
  text-align: center;
}

#divBtn{
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;      
  gap: 3px;
  width: 700px;/* width: 960px; */
  margin: 50px auto;
}

.item {
  /* flex: 0 0 calc(100% / 16 - 3px); 3 colunas */
  height: 10px;
  width: 10px;
  background: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* .item:hover{
  background: rgb(37, 84, 122);
} */

.itemn{
  background: rgb(37, 84, 122);
}