#container {
  display: flex;
  flex-wrap: wrap;          /* Permite quebrar linha */
  justify-content: center;  /* Centraliza horizontal */
  align-items: center;      /* Centraliza vertical */
  gap: 5px;
  width: 700px;
  margin: 50px auto;
}

.item {
  flex: 0 0 calc(100% / 16 - 5px); /* 3 colunas */
  height: 35px;
  background: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* .item:hover{
  background: rgb(37, 84, 122);
} */

.itemn{
  background: rgb(37, 84, 122);
}